/*

STYLESHEET FOR:     MISOFONIE APP
AUTHOR:             EMIEL ZUURBIER / SJOERD RODERS / JELLE BOT
CLIENT:             AMC
EDUCATION:          CMD AMSTERDAM
GITHUB REPO:        https://github.com/EmielZuurbier/AMC-Misofonie-App
VERSION:            0.13.02.12.15

*/



/*
KLEUREN
-------

ACCENT 1:       #00baff;
ACCENT 2:       #a3daff;
HEADER:         #999999;
FONT:           #777777;
FONT ACCENT:    #343434;
ACHTERGROND 1:  #F9F9F9;
ACHTERGROND 2:  #F4F4F4;

BODY FONT:      AVENIR BOOK

*/


@font-face {
    font-family: 'Avenir';
    src: '../fonts/Avenir.ttc';
}


/* ------------------------------------------------------------------------ GENERAL ----------------- */

*:focus {
    outline: 0;
}

html,
body { 
    width: 100%; 
    height: 100%;
}

body { 
/*    overflow-x: hidden;*/
    background-color: #f4f4f4;
    background-repeat: repeat;
    background-size: 40px;
    font-family: 'Avenir';
}

body.open {
    overflow: hidden;
}

h1, h2, h3, h4 {
    color: #343434;
    font-weight: 100;
}

p { 
    color: #777777;
    font-size: 1em;
    font-weight: 100;
}

b, strong { 
    color: #343434; 
}

a { 
    color: #00baff; 
}

ul {
    padding: 0;
}

li {
    color: #777777;
    list-style: none;
}

.btn {
    background-color: #00baff;
    color: #f9f9f9;
    border: 2px solid #00baff;
    border-radius: 0;
}

.btn:hover {
    background-color: #0398d0;
    color: #f9f9f9;
    border: 2px solid #0398d0;
    background-color: #0275a0;
    color: #f9f9f9;
    border: 2px solid #0275a0;
}

.btn-tall {
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-line {
    color: #00baff !important;
    background-color: transparent !important;
    border-bottom: 2px solid #00baff !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px!important;
    margin-bottom: 10px;
}

.btn-block {
    width: 100%;
    margin: 0;
}

.btn-orange {
    background-color: #f9a43a !important;
    color: #ffffff !important;
}

.btn-red {
    background-color: #f5464d !important;
    color: #ffffff !important;
}

.btn-green {
    background-color: #4db14d !important;
    color: #ffffff !important;
}

progress {
    display: block;
    width: 100%;
    margin: 15px 0 0 0;
    color: #00baff;
}

progress::-webkit-progress-value {
    background: #00baff;
}

progress::-moz-progress-value {
    background: #00baff;
}

progress::progress-value {
    background: #00baff;
}

audio {
    width: 100%;
}

.red {
    color: red;
    transform: scale(1);
}

.green {
    color: green;
    transform: scale(1);
}

.blue {
    color: #00baff;
}

.round {
    display: block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

button {
    -webkit-transition: .5s; 
    -moz-transition: .5s;
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s;
    visibility: visible;
}

button.active {
    -webkit-animation: clicked 0.5s ease-in-out;
    -moz-animation: clicked 0.5s ease-in-out;
    -ms-animation: clicked 0.5s ease-in-out;
    -o-animation: clicked 0.5s ease-in-out;
    animation: clicked 0.5s ease-in-out;
    visibility: visible !important;
}

button[disabled] {
    opacity: 0.5;
}

tool-tip.left .tooltip::before {
    left: 10px;
}

tool-tip.center .tooltip::before {
    left: calc(50% - 8px);
}

tool-tip.right .tooltip::before {
    right: 10px;
}

.tooltip {
    background-color: #333333;
    color: #f9f9f9;
    font-family: inherit;
    padding: 15px;
    max-width: 160px;
    opacity: 0.9;
    transform: translate(0, 10px);
}

.tooltip i {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
    font-size: 1.2em !important;
    color: #00baff;
}

.tooltip::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #333333;
}


/* -------------------- NAV --------------------- */

nav  { 
    display: block; 
    position: fixed; 
    width: 200px; 
    height: 100%; 
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-right: 1px solid #e7e7e7;
    z-index: 96; 
    opacity: 1; 
    -webkit-transition: .5s; 
    -moz-transition: .5s;
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s;
    -webkit-transform: translateZ(0);
}

nav.ng-hide-add, nav.nd-hide-remove {
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s;
    -webkit-transform: translateZ(0);
}

nav.ng-hide {
    opacity: 0;
    left: -100%;
    -webkit-transform: translateZ(0);
}

/*
nav.open { 
    left: 0;
    z-index: 99 !important; 
    opacity: 1 !important; 
}
*/

.nav-header { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    height: auto; 
    float: left; 
    padding: 17px 15px;
    margin-top: 50px;
    background-color: #0398d0;  
}

.nav-header img { 
    display: block; 
    margin: 0; 
    height: 100%; 
    float: left; 
}

.nav-header-name { 
    display: block; 
    float: left; 
    line-height: 1em; 
    margin: 0; 
    font-weight: 900; 
    text-transform: uppercase;
    color: #f9f9f9;
}

.nav-list { 
    display: block; 
    width: 100%; 
    height: auto; 
    float: left; 
    padding: 15px 0px 35px 0px;
}

.nav-list ul { 
    padding: 0; 
}

.nav-list ul li { 
    list-style: none; 
    width: 100%; 
    margin: 0 0 3px 0; 
}

.nav-list ul li a { 
    display: block; 
    width: 100%; 
    height: auto; 
    padding: 12px; 
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s;
}

.nav-list ul li a.active {
    border-right: 2px solid #0398d0;
}

.nav-list ul li a:hover {
    text-decoration: none;
}

.nav-list ul li a i {
    margin-right: 5px;
    width: 15px;
    color: #0398d0
}

.nav-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #f7f7f7;
    padding: 15px 0;
}

.nav-bottom img {
    opacity: 0.3;
}

/* ------------------- HEADER -------------------- */

.header { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    width: 100%; 
    height: 50px; 
    float: left; 
    left: 0px;
    margin-bottom: 10px;
    padding: 0 15px;
    background-color: #00baff;
/*    background: linear-gradient(90deg, #00baff, #00deff);*/
/*    box-shadow: 0px 1px 6px #999999;*/
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
    z-index: 97;
    -webkit-transform: translateZ(0);
}

.header.open {
    left: 200px;
    -webkit-transform: translateZ(0);
}

.header-back {
    display: block;
    font-size: 1.2em;
    width: 55px;
}

.header-back a {
    display: block;
    color: #0398d0;
    padding: 15px 15px 15px 0;
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
    z-index: 97;
}

.header-back a:focus {
    color: #f9f9f9;
}

.header-title {
    display: block;
    flex: 1;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    -webkit-transition: .5s ease-in-out .5s; 
    -moz-transition: .5s ease-in-out .5s; 
    -ms-transition: .5s ease-in-out .5s; 
    -o-transition: .5s ease-in-out .5s; 
    transition: .5s ease-in-out .5s; 
}

.header-title.search {
    opacity: 0;
    display: block;
    flex: 1;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    -webkit-transition: .5s ease-in-out; 
    -moz-transition: .5s ease-in-out; 
    -ms-transition: .5s ease-in-out; 
    -o-transition: .5s ease-in-out; 
    transition: .5s ease-in-out; 
}

.header-search {
    display: flex;
    width: 28px;
    height: 36px;
    -webkit-transition: .5s ease-in-out; 
    -moz-transition: .5s ease-in-out; 
    -ms-transition: .5s ease-in-out; 
    -o-transition: .5s ease-in-out; 
    transition: .5s ease-in-out;
    overflow: hidden;
}

.header-search.search {
    flex: 1;
    -webkit-transition: .5s ease-in-out .5s; 
    -moz-transition: .5s ease-in-out .5s; 
    -ms-transition: .5s ease-in-out .5s; 
    -o-transition: .5s ease-in-out .5s; 
    transition: .5s ease-in-out .5s; 
}

.header-search.search button {
    color: #f9f9f9;
}

/*
.header-search.flex, .header-title.flex {
    flex: 1;
}
*/

.header-search button, .header-options button {
    margin: 0 !important;
    width: 28px !important;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2em;
    color: #0398d0;
    min-width: 5px;
    visibility: hidden;
}

.header-search label {
    display: none;
}

.header-search input, .header-search button {
    display: inline-block;
}

.header-search input {
    flex: 1;
    border: 0;
    border-bottom: 2px solid #0398d0;
    background-color: #00baff;
    color: #f9f9f9;
    font-weight: 500;
}

.header-search.search input {
    flex: 1;
    width: auto;
}

#nav-button {
    display: block;
    position: relative;
    width: 55px;
    height: 50px;
    float: left; 
    padding: 17px 17px 15px 0;
    cursor: pointer;
    opacity: 1;
}

#nav-button i, #settings-button i { 
    color: #f9f9f9;
    color: #ffffff;
    font-size: 1.5em;
    padding: 14px 15px;
    cursor: pointer;
}

#nav-icon {
    width: 1.5em;
    height: auto;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #0398d0;;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon.open span {
    background-color: #f9f9f9;
}

#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 6px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 4px;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 12px;
    left: 4px;
}

.nav-layer {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}

/* -------------------- MAIN -------------------- */

main { 
    display: block;  
    float: left; 
    left: 0;
    top: 0;
    width: 100%; 
    height: auto; 
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #f4f4f4;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
    z-index: 1;
    -webkit-transform: translateZ(0);
}

main.open { 
/*    left: 200px;*/
    position: fixed !important;
    -webkit-transform: translateZ(0);
    opacity: 0.2;
}

/* -------------------- VIEWS -------------------- */

.view {
    position: absolute;
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
}

.card-view[jqyoui-droppable] {
    
}

.card-view {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    float: left;
    margin-bottom: 0;
}

.card {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 5px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
/*    border: 1px solid #f1f1f1;*/
    float: left;
    box-shadow: 0px 1px 8px #d6d6d6;
}

.card-recommended:nth-of-type(even) {
    margin-top: 30px;
}

.card.card-half:nth-of-type(odd) {
    width: calc(50% - 7.5px);
    height: auto;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 15px;
/*    border: 1px solid #f1f1f1;*/
    float: left;
    box-shadow: 0px 1px 8px #d6d6d6;
}

.card.card-half:nth-of-type(even) {
    display: block;
    width: calc(50% - 7.5px);
    height: auto;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
/*    border: 1px solid #f1f1f1;*/
    float: left;
    box-shadow: 0px 1px 8px #d6d6d6;
}

.card-header {
    display: block;
    position: relative;
    background-color: #ffffff;
    color: #00baff;
    min-height: 50px;
    width: 100%;
    float: left;
    font-size: 1em;
    font-weight: 500;
    background-size: cover;
    background-position: center;
}

.card-header button {
    background: transparent;
    border: 0;
}

.card-header.large {
    min-height: 100px;
}

.card-header.large .card-header-overlay {
    color: #f9f9f9;
    background: linear-gradient(0deg, rgba(0,0,0,0.8), transparent);
    position: absolute;
}

.card-header-overlay {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 15px 15px 10px 15px;
}

.card-header.blue {
    background-color: #00baff;
    color: #f9f9f9;
}

.card-header.blue small {
    color: #0398d0;
}

.card-header.dark-blue {
    background-color: #0398d0;
    color: #f9f9f9;
}

.card-header p, .card-header h2, .card-header h3, .card-header h4 {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    margin: 0;
    padding: 2px 6px 3px 0;
}

.card-header p i, .card-header h2 i, .card-header h3 i, .card-header h4 i {
    color: #00baff;
    margin-right: 5px;
}

.card-header.card-recommended {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.card-header.card-recommended::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 8px);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0398d0;
}

.card-header.large .card-header-icon {
    color: #f9f9f9;
}

.card-header-icon {
    display: inline-block;
    float: right;
    color: #999999;
    padding-left: 15px;
    align-self: flex-start;
    position: absolute;
    right: 15px;
    top: 10px;
}

.card-body {
    display: block;
/*    background-color: #f9f9f9;*/
    background-color: #ffffff;
    width: 100%;
    max-height: 3000px;
    height: auto;
    float: left;
}

.card-body-left {
    display: block;
    width: calc(50% - 7.5px);
    height: 100%;
    margin-right: 15px;
    float: left;
}

.card-body-right {
    display: block;
    width: calc(50% - 7.5px);
    height: 100%;
    float: left;
}

.card-html ul {
    padding-left: 1.5em;
}

.card-html ul li {
    color: #999999;
}

.card-html pre {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 0;
}

.card-html p {
    white-space: pre-wrap;
}

.card-template {
    display: block;
    width: 100%;
    height: auto;
    float: left;
}

.card-list {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.card-list .card-list-item {
    list-style: none;
    border-bottom: 1px solid #f1f1f1;
}

.card-list .card-list-item:first-of-type {
    border-top: 1px solid #f1f1f1;
}


.card-list .card-list-item a {
    display: flex;
    align-content: center;
    padding: 15px;
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
}

.card-list .card-list-item a:hover {
    text-decoration: none;
    background-color: #f9f9f9;
}

.card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-top: 1px solid #f1f1f1;
    width: 100%;
    float: left;
}

.card-footer-left {
    flex: 1 1 auto;
}

.card-footer-left button {
    color: #999999;
    background-color: transparent;
    border: 0;
}

.card-footer-left button:active {
    outline: none;
}

.card-footer-left button:nth-of-type(2) {
    margin-left: 5px;
}

.card-footer-middle {
    flex: 1 1 auto;
}

move {
    display: flex;
    justify-content: center;
}

.card-footer-right {
    flex: auto 1 auto;
}

.card-footer-right button, .card-footer-right a, .card-footer-middle button, .card-footer-middle a {
    font-family: 'Avenir';
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
    color: #00baff;
    border: 0;
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
}

.card-footer-right button:active, .card-footer-right a:active {
    outline: none;
    color: #0398d0;
}

.card-footer-right a:hover {
    text-decoration: none;
}

.card-footer-left.hide {
    display: none;
}

.card-padding {
    padding: 10px 15px;
}

.card-add {
    position: relative;
    background-color: #ffffff;
    height: 100px;
}

.card-add .fa-plus {
    font-size: 50px;
    color: #d7d7d7;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.card-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.card-image-round {
    border-radius: 50%;
}

.card-accent {
    font-size: 4.5em;
    font-weight: 900;
    color: #00baff;
}

form .card:first-of-type {
    margin-top: 5px;
}

.card-view li {
    position: relative;
    list-style: none;
}

/* ------------------------------- CUSTOM CARD --------------------------- */

.custom-card-profile {
    margin-top: -10px;
}

.custom-card-profile .card-body{
    background-color: #00baff;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

.custom-card-profile .card-body * {
    align-self: center;
    color: #fff;
}

.custom-card-profile .card-body h2 {
    font-size: 1.5em;
}

.custom-card-profile .card-body p {
    font-size: 0.9em;
}

.custom-card-profile .card-body img {
    margin-top: 10px;
    z-index: 100;
    border: 5px solid #fff;
}

/* ------------------------------- FORM ---------------------------------- */

form {
    padding-bottom: 15px;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.form-float-right {
    display: inline-block;
    float: right;
}

.form-float-left {
    display: inline-block;
    float: left;
}

/* --------------------------- ANGULAR MATERIAL ------------------------------ */

md-tabs {
    top: -10px;
}

md-tabs md-tabs-wrapper, md-slider .md-track.md-track-fill, md-checkbox.md-checked .md-icon, md-switch.md-checked .md-thumb {
    background-color: #00baff;
}

md-switch.md-checked .md-bar {
    background-color: rgba(0, 186, 255, 0.5);
}

md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
    color: #f9f9f9;
}


md-tabs md-tabs-wrapper {
    box-shadow: 0px 1px 6px #999999;
/*    background: linear-gradient(90deg, #00baff, #00deff);*/
}

md-tabs .md-tab {
    color: #f4f4f4;
}

md-tab-content {
    padding-top: 10px;
}

md-tabs md-ink-bar {
    color: #0398d0;
    background-color: #0398d0;
}

md-slider .md-thumb:after {
    border-color: #00baff;
    background-color: #00baff;
}

md-slider .md-sign:after {
    border-top-color: #00baff;
}

md-slider .md-sign {
    background-color: #00baff;
}

md-switch {
    margin: 0 0 15px 0;
}

md-toast {
    position: fixed;
}

md-tabs-wrapper md-prev-button md-icon, md-tabs-wrapper md-next-button md-icon {
    fill: #0398d0;
}

md-tabs-wrapper md-prev-button.md-disabled, md-tabs-wrapper md-next-button.md-disabled {
    opacity: 0.5;
}

.md-open-menu-container {
    z-index: 999;
}

md-toast {
    z-index: 999;
}

md-toast span {
    text-align: center;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused label {
    border-color: #00baff;
    color: #00baff;
}


/* ------------------------------- CHECKBOX ---------------------------------- */

.onoffswitch {
    position: relative; width: 55px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 0px solid #FFFFFF; border-radius: 30px;
    background-color: #f7f7f7;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: -5px;
    background: #00BAFF;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border-radius: 30px;
/*    box-shadow: 0 6px 12px 0px #757575;*/
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #60CFF8;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #60CFF8;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
    background-color: #00BAFF; 
/*    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);*/
}



/* --------------------------------------------------------------------- ANIMATIONS ----------------- */

.pop {
    -webkit-animation: pop 0.5s ease-in-out normal;
    -moz-animation: pop 0.5s ease-in-out normal;
    animation: pop 0.5s ease-in-out normal;
}

.pop-reverse {
    -webkit-animation: pop 0.5s ease-in-out reverse;
    -moz-animation: pop 0.5s ease-in-out reverse;
    animation: pop 0.5s ease-in-out reverse;
}

.down {
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
}

.up {
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
    transform: rotate(180deg);
}

.tooltip.ng-hide-add, .tooltip.ng-hide-remove {
    -webkit-transition: 1s; 
    -moz-transition: 1s; 
    -ms-transition: 1s; 
    -o-transition: 1s; 
    transition: 1s;
}

.tooltip.ng-hide-add, .tooltip.ng-hide-remove.ng-hide-remove-active {
    opacity: 0.9;
    transform: translate(0, 10px);
}

.tooltip.ng-hide-remove, .tooltip.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    transform: translate(0, -10px);
}

/*
.header-title.ng-hide-add, .header-title.ng-hide-remove {
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s;
    opacity: 1;
}

.header-title.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}
*/

/*
.header-search input.ng-hide-add, .header-search input.ng-hide-remove {
    -webkit-transition: .5s .5s; 
    -moz-transition: .5s .5s; 
    -ms-transition: .5s .5s; 
    -o-transition: .5s .5s; 
    transition: .5s .5s;
    opacity: 0;
}

.header-search input.ng-hide-add.ng-hide-add-active, .header-search input.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
*/

/*
#nav-button.ng-hide-add, #nav-button.ng-hide-remove, .header-back.ng-hide-add, .header-back.ng-hide-remove {
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s;
}

#nav-button.ng-hide-add, #nav-button.ng-hide-remove.ng-hide-remove-active, .header-back.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

#nav-button.ng-hide-add.ng-hide-add-active, #nav-button.ng-hide-remove, .header-back.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}
*/



.view.ng-leave { 
    -webkit-animation: slideOut 0.5s ease-in-out;
    -moz-animation: slideOut 0.5s ease-in-out;
    animation: slideOut 0.5s ease-in-out; 
    z-index: 88; 
}

.view.ng-enter { 
    -webkit-animation: scaleIn 0.5s ease-in-out;
    -moz-animation: scaleIn 0.5s ease-in-out; 
    animation: scaleIn 0.5s ease-in-out;
    z-index: 77; 
}

.card.ng-enter {
    opacity: 0;
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
}

.card.ng-enter.ng-enter-active {
    opacity: 1;
}

.card.ng-leave {
    opacity: 1;
    position: relative;
/*    left: 0px;*/
    max-height: 500px;
    -webkit-transition: .5s ease-in-out; 
    -moz-transition: .5s ease-in-out; 
    -ms-transition: .5s ease-in-out; 
    -o-transition: .5s ease-in-out; 
    transition: .5s ease-in-out; 
}

.card.ng-leave.ng-leave-active {
    opacity: 0;
/*    left: 100%;*/
    max-height: 0;
}


@-webkit-keyframes scaleIn {
/*
    from     { opacity: 0; }
    to       { opacity: 1; }
*/
    from    { left: 100%; }
    to      { left: 0; }
}

@-webkit-keyframes slideOut {
/*
    from    { opacity: 1; }
    to      { opacity: 0; }
*/
    from    { left: 0%; }
    to      { left: -100%; }
}

@keyframes scaleIn {
/*
    from    { opacity: 0; }
    to      { opacity: 1; }
*/
    from    { left: 100%; }
    to      { left: 0; }
}

@keyframes slideOut {
/*
    from    { opacity: 1; }
    to      { opacity: 0; }
*/
    from    { left: 0%; }
    to      { left: -100%; }
}

@-webkit-keyframes clicked {
    0% {-webkit-transform: scale(1); transform: scale(1);}
    50% {-webkit-transform: scale(1.2); transform: scale(1.2);}
    100% {-webkit-transform: scale(1); transform: scale(1)};
}

@keyframes clicked {
    0% {-webkit-transform: scale(1); transform: scale(1);}
    50% {-webkit-transform: scale(1.2); transform: scale(1.2);}
    100% {-webkit-transform: scale(1); transform: scale(1)};
}

@-webkit-keyframes pop {
    0% { opacity: 0; -webkit-transform: scale(0.1); transform: scale(0.1); }
    50% { opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}

@keyframes pop {
    0% { opacity: 0; -webkit-transform: scale(0.1); transform: scale(0.1); }
    50% { opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}

/* -------------------------------------------------------------------- MEDIA QUERY ----------------- */







