<div class="card">
    <div class="card-header">
        <h2><i class="fa fa-user-md"></i> Achteruit tellen</h2>
        <a class="card-ellips" href="javascript:void(0)" data-ng-click="removeCard($index)"><i class="fa fa-ellipsis-v"></i></a>
    </div>
    <img class="card-image" data-ng-src="media/city-sunny-couple-love.jpg" alt="Racket Oefening">
    <div class="card-body card-padding">
        <p>Vindt een comfortabele plek waar niemand u kan storen. Tel in je hoofd van 100 tot 1. Voel je vrij om dat aantal te verhogen naar 500 of 1000, afhankelijk van de staat.</p>
        <p><i class="fa fa-heart" data-ng-click="addLike()"></i> {{ cardOefeningenId.likes }}</p>
    </div>
    <div class="card-footer">
        
    </div>
</div>