<div class="card">
    <div class="card-header">
        <h2><i class="fa fa-user-md"></i> Schrijf een brief uit de toekomst</h2>
        <a class="card-ellips" href="javascript:void(0)" data-ng-click="removeCard($index)"><i class="fa fa-ellipsis-v"></i></a>
    </div>
    <img class="card-image" data-ng-src="media/coffee-cup-bed-bedroom.jpg" alt="Racket Oefening">
    <div class="card-body card-padding">
        <p>Kies een moment in de toekomst (twee, vijf, tien jaar later dan nu of een ander tijdstip dat voor jou zinvol is). Schrijf de datum die je hebt gekozen boven aan je brief. Stel je voor dat de tussenliggende jaren voorbij zijn en dat je een brief aan je vroegere zelf schrijft. Zet je naam in de aanhef van de brief: ‘Beste of lieve…’</p>
        <p>Bij het schrijven van de brief stel je je voor dat je op die specifieke datum in de toekomst een prettig, gezond en bevredigend leven leidt. Als je op dit moment problemen hebt, neem dan aan dat die opgelost zijn of dat je een goede manier hebt gevonden om ermee om te gaan.</p>
        <p>Leg in de brief uit hoe je de problemen en moeilijkheden waarmee je worstelde, hebt opgelost. Vertel wat je achteraf bekeken het meest heeft geholpen.</p>
        <p>Beschrijf zo gedetailleerd mogelijk hoe je in deze imaginaire toekomst je tijd doorbrengt. Hoe ziet een doorsnee dag eruit? Beschrijf je contacten, overtuigingen, overpeinzingen van het verleden en je speculaties over de verdere toekomst.</p>
        <p>Geef jezelf tot slot nog een aantal wijze raadgevingen mee.</p>
        <p>De oorsprong van deze oefening vind je in ‘Stap voor stap’ van Yvonne Dolan</p>
        <p><i class="fa fa-heart" data-ng-click="addLike()"></i> {{ cardOefeningenId.likes }}</p>
    </div>
    

    <div class="card-footer">
        
    </div>
</div>