<div class="card">
    <div class="card-header">
        <h2><i class="fa fa-user-md"></i> Concentratie Oefening</h2>
        <a class="card-ellips" href="javascript:void(0)" data-ng-click="removeCard($index)"><i class="fa fa-ellipsis-v"></i></a>
    </div>
    <div class="card-body card-padding">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        <p>Nulla consequat massa quis enim.</p>
    </div>
    <div class="card-footer">
        
    </div>
</div>