<div class="card">
    <div class="card-header">
        <h2><i class="fa fa-user-md"></i> Het Lichaamsanker</h2>
        <a class="card-ellips" href="javascript:void(0)" data-ng-click="removeCard($index)"><i class="fa fa-ellipsis-v"></i></a>
    </div>
    <img class="card-image" data-ng-src="media/pexels-photo.jpg" alt="Racket Oefening">
    <div class="card-body card-padding">
        <p>Dit is persoonlijk één van mijn favoriete oefeningen die ik regelmatig gebruik om te ontstressen of rustig te worden. Als ik alleen ben, maar ook voor lastige gesprekken zoals een sollicitatiegesprek waarbij de spanning flink kan oplopen. Het lichaamsanker bestaat uit vier oefeningen:</p>
        <p><strong>Focus op de ademhaling</strong><br>
Merk op waar de ademhaling zich bevindt. Is deze laag in de buik of hoog op de borst? Is de ademhaling rustig of misschien bibberig? Merk het op en probeer niet te oordelen. Gedachten komen ongetwijfeld op, maar laat deze ook weer gaan en focus je op de ademhaling.</p>
        <p><strong>Focus op het fysieke voelen</strong><br>
Richt je op je lichaamsdelen die contact maken met voorwerpen of omgeving, bijvoorbeeld de vloer of een stoel. Ga na waar in je voeten het contact met de grond het duidelijkst is, in de tenen of in de hiel? Voel het contact tussen je rug en de leuning van de stoel. Rusten je armen op de leuning en zo ja waar is de meeste druk? Richt je aandacht op die contactpunten.</p>
        <p><strong>Bewegen</strong><br>
Onbewust zitten we vaak op een manier die past bij waar we mee bezig zijn. Zijn we op ons werk druk in de weer met de computer, dan is de kans groot dat we te weinig bewegen en in één houding zitten. Ook bij een lastig gesprek neemt het lichaam vaak een verkrampte houding aan. Het is dus belangrijk bewust te zijn van waar je mee bezig bent . Rol eens met je schouders, verplaats je voeten of leg je handen in je schoot. Merk op wat er gebeurt door het bewegen en hoe dat voelt.</p>
        <p><strong>Spannen van de gezichtsspieren</strong><br>
Richt je focus op je gezichtsspieren. Breng spanning in de spieren door bijvoorbeeld de ogen wat dicht te knijpen of vorm een glimlach.</p>
        <p><i class="fa fa-heart" data-ng-click="addLike()"></i> {{ cardOefeningenId.likes }}</p>
    </div>
    <div class="card-footer">
        
    </div>
</div>