<div class="card">
    <div class="card-header">
        <h2><i class="fa fa-user-md"></i> Loslaten van gedachten</h2>
        <a class="card-ellips" href="javascript:void(0)" data-ng-click="removeCard($index)"><i class="fa fa-ellipsis-v"></i></a>
    </div>
    <img class="card-image" data-ng-src="media/people-feet-train-travelling.jpg" alt="Racket Oefening">
    <div class="card-body card-padding">
        <p>Wanneer je hoofd vol zit omdat er iets vervelends is gebeurd of je je druk maakt om iets dat komen gaat kan onderstaande oefening je helpen om rustig te worden door je problemen als het ware weg te blazen. Het is een oefening die behoort tot de groep mindfulness oefeningen die zich specifiek richt op het loslaten van gedachten.</p>
        <p>Stap 1: Adem langzaam diep in door je neus en houdt de adem een paar tellen vast.<br>
Stap 2: Blaas langzaam uit door je mond en richt je op het uitblazen.<br>
Stap 3: Herhaal stap 2 en 3.<br>
Stap 4: Merk op dat je hart rustiger gaat kloppen.<br>
Stap 5: Beeld je in dat je op het strand staat. Voel het zand tussen je tenen en de wind in je gezicht. Hoor het klotsen van de golven.<br>
Stap 6: Richt je blok op de horizon waar de zon net ondergaat. Mooie oranje, rode kleuren.<br>
Stap 7: Wanneer de vervelende gedachten toch in je opkomen blaas je ze langzaam uit richting de horizon om je vervolgens weer op de horizon te richten.<br>
Stap 8: Wanneer je merkt dat je rustiger wordt richt je je focus van de horizon naar je ademhaling.<br>
Stap 9: Richt je op het hier en nu door wat te bewegen (schouders, voeten, kaken).</p>
        <p><i class="fa fa-heart" data-ng-click="addLike()"></i> {{ cardOefeningenId.likes }}</p>
    </div>
    <div class="card-footer">
        
    </div>
</div>