<div class="card">
    <div class="card-header">
        <h2><i class="fa fa-user-md"></i> Racket Oefening</h2>
        <a class="card-ellips" href="javascript:void(0)" data-ng-click="removeCard($index)"><i class="fa fa-ellipsis-v"></i></a>
    </div>
    <img class="card-image" data-ng-src="media/city-people-walking-blur.jpg" alt="Racket Oefening">
    <div class="card-body card-padding">
        <p><strong>Benodigdheden</strong></p>
        <p>Racket met bal of shuttle en toeschouwer.</p>
        <p><strong>Beschrijving:</strong></p>
        <p>Probeer met de racket de bal of shuttle hoog te houden. Ondertussen maakt de toeschouwer smak / kuch / snuif geluiden.<br> <strong>Houdt de focus op het hooghouden.</strong> </p>
        <p><i class="fa fa-heart" data-ng-click="addLike()"></i> {{ cardsParam.likes }}</p>
    </div>
    <div class="card-footer">
        
    </div>
</div>