<div class="card-result-text">
    <p class="flex"><span class="card-accent" data-ng-class="amiResultsClass">{{ results.amiTotal[0][4] }}</span> / <strong>50</strong></p>
    <p class="flex" data-ng-bind-html="trustAsHtml(amiResultsHeader)"></p>
</div>
<md-button class="btn-blue btn-block" data-ng-click="clickMore=!clickMore">Meer info</md-button>
<!--<a class="btn btn-block btn-line" href ng-click="clickMore=!clickMore">Meer info</a>-->
<div class="click-more" ng-show="clickMore">
    <p>{{ amiResultsBody }}</p>
</div>