<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-header-overlay">
                <h4><i class="fa fa-clock-o"></i> Stress<br><small>Hoe gestresst ben je op dit moment?</small></h4>
            </div>
        </div>
        <div class="card-body card-padding">
            <md-button class="button round btn-block btn-red" data-ng-mousedown="stressRecording = stressRecording + 1">Houd mij ingedrukt</md-button>
            <h4>{{ stressRecording }}</h4>
        </div>
    </div>
</div>