<div class="container">
    
    <div class="card">
        <div class="card-header">
            <div class="card-header-overlay">
                <h4><i class="fa fa-plus"></i> Pas oefening aan</h4>
            </div>
        </div>
        <div class="card-body card-padding">
            <md-input-container>
                <label>Titel</label>
                <input data-ng-init="cardsParam.title" data-ng-model="cardsParam.title" md-maxlength="30">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Categorie</label>
                <md-select data-ng-init="cardsParam.category[0]" data-ng-model="cardsParam.category[0]">
                    <md-option>Beweging</md-option>
                    <md-option>Concentratie</md-option>
                    <md-option>Geluid</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>tags</label>
                <input data-ng-init="cardsParam.tags" data-ng-model="cardsParam.tags" md-maxlength="30">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Inhoud</label>
                <textarea data-ng-init="cardsParam.content" data-ng-model="cardsParam.content" columns="1" rows="5"></textarea>
            </md-input-container>
        </div>
        <div class="card-footer card-padding">
            <md-button class="btn-green btn-block" data-ng-click="oefeningEdit(cardsParam.title, cardsParam.category[0], cardsParam.tags, cardsParam.content, cardsParam.id)">Klaar</md-button>
        </div>
    </div>
    
</div>