<div class="container">      

    <div class="card" index="{{$index}}" data-ng-repeat="card in cards | filter: {active: true} track by $index">
        <div class="card-header" style="background-image: url('{{ card.thumb }}')" data-ng-click="card.show=!card.show" data-ng-class="{'large': card.type === 'exercise'}">
            <div class="card-header-overlay">
                <h4><i class="{{ card.icon }}"></i> {{ card.title }}<tool-tip active="settings.x" index="$index" position="3" message="'Klik op de titels om de oefeningen te bekijken'" class="left"></tool-tip></h4>
                <div class="card-header-icon">
                    <i class="fa fa-chevron-down" data-ng-class="{'down': !card.show, 'up': card.show}"></i>
                </div>
            </div>
        </div>
        <div class="card-body card-padding" data-ng-show="card.show">
            <p data-ng-if="card.type === 'exercise'"><small>{{ card.category[0] | uppercase }}</small></p>
            <div class="card-html">
                <p data-ng-bind-html="trustAsHtml( card.content )"></p>
            </div>
            <div class="card-template" data-ng-if="card.template" data-ng-include="card.url"></div>
        </div>
        <div class="card-footer card-padding" data-ng-show="card.show">
            <div class="card-footer-left">
                <like-dislike class="{{ card.footer }}" info="card"></like-dislike>
            </div>
            <div class="card-footer-middle">
<!--                <move></move>-->
            </div>
            <div class="card-footer-right" data-ng-show="card.show">
                <add-to-collection info="card"></add-to-collection>
                <tool-tip active="settings.x" index="$index" position="0" class="center" message="'Pas je eigen startscherm aan met jouw favoriete oefeningen door ze toe te voegen en te verwijderen.'" index="$first"></tool-tip>
            </div>
        </div>
    </div>


    <div class="card">
        <a href="#/bibliotheek">
            <div class="card-body card-add">
                <i class="fa fa-plus"></i>
            </div>
        </a>
    </div>
            
            <!-- REPEAT CARDSACTIVE -->
<!--
            <div class="card-view" data-ng-repeat="card in cards.active track by $index" >
                <div data-ng-include="card.url"></div>
            </div>
-->
            

</div>